*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
/* border: 20px outset #DA1106ff;
    
    margin: 0.5em 0.5em;
    /*margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em;*/
    padding: 10%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

  body{
    font-family: 'New rocker';
    line-height: 1.5; 
    color: #221A1Cff;
    background-color:black;
    background-image: url("../Webb\ City\ Cardinal2.png");
    background-position: center center;
    background-size: 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



h1{
    color:black;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: 1px;
}
h2{
    color:red;
    -webkit-text-fill-color: gold;
    -webkit-text-stroke-width: 1px;

}


p{
    color:black;
    -webkit-text-fill-color:white;
    -webkit-text-stroke-width: .6px;
}



/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 30px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /* Style the close button */
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }
  
  .topright:hover {color: red;}

/* end tab bar*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



/* unvisited link */
a:link {
  color: none
}

/* visited link */
a:visited {
  color: none;
}

/* mouse over link */
a:hover {
color: black;
}

/* selected link */
a:active {
  color: rgb(82, 0, 0);
} 


  